<!-- <h2 class="my-3">
  Promise in Angular
</h2>
<button class="btn btn-primary" (click)="myFunction()">Click me</button> -->

<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Promises in Angular</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <div class="collapse navbar-collapse" id="navbarNavAltMarkup"> -->
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" routerLink = "promise">Promise</a>
        <a class="nav-link" routerLink = "observable">Observable</a>
    
      </div>
    <!-- </div> -->
  </div>
</nav>
<router-outlet></router-outlet>
</div>
